@model CaferiaApp.Models.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "Create Item";
}

@section Css {
    <link asp-append-version="true" type="text/css" rel="stylesheet" href="~/vendor/select2/select2.min.css" />
}

@section Sole {
    <style>
        .select2-container .select2-selection {
            padding: 7px 12px 4px;
            height: 40px;
            font-size: .9125rem;
            background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAT9JREFUeNrs100KglAQB/AxXBp0A93UNk+QrosO0CJo1SK6QRARdINo0TWitt3D7mCLOkBvqgcVan5M9C+czQN19Mc8x/c0KCbCMPTVsKcvRyXhnEsAkQS00YFuCcwLVA3iqKGGXEGHQCIO6KMDbXRgOcW5gaqDXQKKCvL0xgHhK9j86QoGwYFOp3PmB3EO5378Hez1BzQcjTMh+VrO4dxCwPsmNTFm08m1EmmRGsc5nFu0gm87uNtpp0a+4jj348C0SAlcFNBLm5iElMJxGC/v4DHrPnCz3dFsvqBGo07r1fJ6TAr3BFQ4hh3z3OQRqT9FEjgOU2IF0RBG6k6XwIkBNbJqWbetkNcSW0lMySVOEhbVxVC7mCigDwu8/2YScgXhgT46sFlOcUGgCwtE+82MqiA80EEHemUF/xl4EWAAT0mXtdDaAKkAAAAASUVORK5CYII=') no-repeat right 0px center;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase ls-1">Create Item</h3>
                </div>
                <div class="col text-right">
                    <a asp-action="Index" class="btn btn-back">Back</a>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <form id="create-form" asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Item Catagory</label>
                            <select asp-for="ItemCatagoryId" class="form-control" data-toggle="select" asp-items="@ViewBag.ItemCatagoryId"></select>
                            <span asp-validation-for="ItemCatagoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 priceDiv">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Price</label>
                            <input id="singlePrice" asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Descripton</label>
                            <textarea asp-for="Descripton" rows="3" class="form-control"></textarea>
                            <span asp-validation-for="Descripton" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Featured</label>


                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input asp-for="IsFeatured" class="form-control" />
                            <span asp-validation-for="IsFeatured" class="text-danger"></span>
                        </div>
                    </div>

                  <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">In Stock</label>


                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input asp-for="IsInStock" class="form-control" />
                            <span asp-validation-for="IsInStock" class="text-danger"></span>
                        </div>
                    </div>

                 
                  


                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Image</label>
                            <input asp-for="Photo" class="form-control" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                    </div>
                   

                    <div class="col-lg-12">
                        <div class="form-group mb-0">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/select2/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            //$('#priceOptionAvailable').on('change', function () {
            //    if ($('#priceOptionAvailable').is(':checked')) {
            //        $('.optionDiv').show();
            //        $('.priceDiv').hide();
            //        if ($('#hasOption1').is(':checked')) {
            //            $('.optionDiv1').show();
            //        }
            //        else {
            //            $('.optionDiv1').hide();
            //        }
            //        if ($('#hasOption2').is(':checked')) {
            //            $('.optionDiv2').show();
            //        }
            //        else {
            //            $('.optionDiv2').hide();
            //        }
            //        if ($('#hasOption3').is(':checked')) {
            //            $('.optionDiv3').show();
            //        }
            //        else {
            //            $('.optionDiv3').hide();
            //        }
            //    }
            //    else {
            //        $('.optionDiv').hide();
            //        $('.priceDiv').show();
            //        $('.optionDiv1').hide();
            //        $('.optionDiv2').hide();
            //        $('.optionDiv3').hide();
            //        $("#hasOption1").prop("checked", false);
            //        $("#hasOption2").prop("checked", false);
            //        $("#hasOption3").prop("checked", false);
            //        $('#option1Name').val("");
            //        $('#option1Price').val("");
            //        $('#option2Name').val("") ;
            //        $('#option2Price').val("");
            //        $('#option3Name').val("") ;
            //        $('#option3Price').val("");


            //    }
            //});

            //$('#hasOption1').on('change', function () {
            //    if ($('#hasOption1').is(':checked')) {
            //        $('.optionDiv1').show();
            //    }
            //    else {
            //        $('.optionDiv1').hide();
            //    }
            //});
            //$('#hasOption2').on('change', function () {
            //    if ($('#hasOption2').is(':checked')) {
            //        $('.optionDiv2').show();
            //    }
            //    else {
            //        $('.optionDiv2').hide();
            //    }
            //});
            //$('#hasOption3').on('change', function () {
            //    if ($('#hasOption3').is(':checked')) {
            //        $('.optionDiv3').show();
            //    }
            //    else {
            //        $('.optionDiv3').hide();
            //    }
            //});

            //$('#submitButton').on('click', function () {

            //    var fillupStatus = true;
            //    if ($('#priceOptionAvailable').is(':checked')) {

            //        if ($('#hasOption1').is(':checked') == false && $('#hasOption2').is(':checked') == false && $('#hasOption3').is(':checked') == false) {
            //            fillupStatus = false;
            //        }
            //        if ($('#hasOption1').is(':checked')) {
            //            if ($('#option1Name').val() == "" || $('#option1Name').val() == null || $('#option1Price').val() == "" || $('#option1Price').val() == null) {
            //                fillupStatus = false;
            //            }

            //        }
            //        if ($('#hasOption2').is(':checked')) {
            //            if ($('#option2Name').val() == "" || $('#option2Name').val() == null || $('#option2Price').val() == "" || $('#option2Price').val() == null) {
            //                fillupStatus = false;
            //            }

            //        }
            //        if ($('#hasOption3').is(':checked')) {
            //            if ($('#option3Name').val() == "" || $('#option3Name').val() == null || $('#option3Price').val() == "" || $('#option3Price').val() == null) {
            //                fillupStatus = false;
            //            }

            //        }

            //    }
            //    else {
            //        if ($('#singlePrice').val() == "" || $('#singlePrice').val() == null) {
            //            alert("price");
            //            fillupStatus = false;
            //        }
            //    }

            //    if (fillupStatus) {
            //        $("#create-form").submit();
            //    }
            //    else {
            //        $.notify({
            //            title: 'Warning!',
            //            icon: 'fa fa-warning',
            //            html: true,
            //            message: 'Fill up all the fields Before Saving!'
            //        },
            //            {
            //                type: 'warning',
            //                animate: {
            //                    enter: 'animated fadeInDown'
            //                },
            //                placement: {
            //                    from: "top",
            //                    align: "center"
            //                },
            //                spacing: 10,
            //                z_index: 1031,
            //                delay: 1000,
            //                template: '<div data-notify="container" class="alert alert-dismissible alert-{0} alert-notify" role="alert"><span class="alert-icon" data-notify="icon"></span> <div class="alert-text"</div> <span class="alert-title" data-notify="title">{1}</span> <span data-notify="message">{2}</span></div><button type="button" class="close" data-notify="dismiss" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>'
            //            });

            //    }

            //});



        });

    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

