
@{
    ViewData["Title"] = "Order Confirmed";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <title>Caferia - Web and Mobile Application</title>
    <meta charset="UTF-8">
    <meta name="description" content="test">
    <meta name="keywords" content="caferia">
    <meta name="author" content="Kamlesh Yadav">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>

        var BASE_URL = 'http://hostingsites.co.in/developer33/caferia/';

    </script>
    <link rel="icon" type="image/ico" href="~/assets/front/images/front_imges/19e9bd06bd8a588a4945cee88bbedcc6.png" />


    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/js/plugin/swiper/css/swiper.min.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/css/bootstrap.min.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/fonts/fontawesome/css/font-awesome.min.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/css/fonts.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/js/plugin/timepicker/timepicker.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/js/plugin/datepicker/bootstrap-datepicker.min.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/js/plugin/scroll/jquery.mCustomScrollbar.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/css/flaticon.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/css/style.min.css">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/assets/front/css/toastr.css">
    <!-- custom css links-->


</head>

<body class="fd_inner_page">



   
    <div class="fd_header" id="header">
        <div class="fd_logo">
            <a href="http://hostingsites.co.in/developer33/caferia/"><img src="~/assets/front/images/front_imges/19e9bd06bd8a588a4945cee88bbedcc6.png" alt=""></a>
        </div>
        <div class="fd_right_section">
            <button data-toggle="collapse" data-target="#menu" class="fd_toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <div class="fd_menu collapse" id="menu">
                <ul>
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#menus">Menu</a></li>
                    <li><a href="#reservation">Reservation</a></li>
                    <li><a href="#testimonial">Testimonial</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                </ul>

            </div>

            <div class="fd_search">
                <a><span class="flaticon-216-search-2"></span></a>
                <div class="fd_Seardh_box fd_transition">
                    <div class="fd_search_field">
                        <input type="text" name="search" onkeyup="filter_front()" id="fb_keyword1" value="" class="form-control" placeholder="Search Here.....">
                        <button class="fd_btn">search</button>

                        <div class="fd_related_search" id="result">
                            <ul id="data_disp"></ul>
                        </div>
                    </div>
                    <span class="fd_close"></span>
                </div>
            </div>
            <div class="fd_user" id="fd_user">
                @if (ViewBag.User == null)
                {
                    <a class="fd_login">
                        <img src="http://hostingsites.co.in/developer33/caferia/assets/front/images/default_image/user.svg" id="user_login">

                        <i class="fa fa-caret-down"></i>
                    </a>

                    <div class="fd_user_wrapper text-center fd_transition">
                        <ul class="nav nav-tabs">
                            <li><a class="s1 active" href="#signin">sign in</a></li>
                            <li><a id="s2" href="#signup">sign up</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="signin" class="tab-pane in active">
                                <div class="fd_user_inner fd_signin">
                                    <form id="loginform">
                                        <input type="text" id="lemail" placeholder="Email or Mobile" class="form-control" value="">
                                        <input type="password" id="lpassword" placeholder="Password" class="form-control" value="">

                                        <input type="checkbox" name="check" value="" id="fd_check">
                                        <label class="fd_check_box" for="fd_check">keep me signed in</label>

                                        <button type="submit" id="publicLoginSubmit" class="fd_btn">sign in</button>
                                    </form>
                                    <a class="fd_forgot_password_link">forgot password ?</a>
                                </div>
                            </div>
                            <div id="signup" class="tab-pane">
                                <div class="fd_user_inner fd_signin">
                                    <form id="signupform">
                                        <input type="text" id="name" name="user_name" placeholder="Name" class="form-control">
                                        <input type="text" id="email" name="user_email" placeholder="Email" class="form-control">
                                        <input type="password" id="password" name="user_pass" placeholder="Password" class="form-control">

                                        <button type="submit" class="fd_btn">submit</button>
                                    </form>
                                    <a class="s1">already have an account ?</a>
                                </div>
                            </div>
                        </div>

                        <div class="fd_user_inner fd_forgot_password fd_transition">
                            <form id="formsforget" action="http://hostingsites.co.in/developer33/caferia/front/auth/forgot" method="POST">
                                <a class="fd_close"></a>
                                <h2 class="fd_subheading">Forgot Password?</h2>

                                <p>To Reset Your Password,Enter Your Full Email Address To Request a Password Reset</p>
                                <input type="text" value="" id="femail" placeholder="Email or Mobile" class="form-control">
                                <button type="submit" class="fd_btn">submit</button>
                            </form>
                        </div>

                    </div>
                }
                else
                {
                    <div class="fd_user_wrapper text-center fd_transition fd_user_profile">
                        <span class="fd_user_close"><i class="fa fa-times"></i></span>
                        <ul class="nav nav-tabs">
                            <li><a class="profile_user active" href="#user">Profile Setting</a></li>
                            <li><a class="order_history" href="#order_history">Order History</a></li>
                        </ul>
                        <div class="tab-content">

                            <div id="user" class="tab-pane in active">
                                <div id="user" class="tab-pane in active">
                                    <div class="fd_user_inner fd_signin">
                                        <input type="text" placeholder="Full Name Name" id="name" value="Reaz" class="form-control">
                                        <input type="text" placeholder="Contact Number" id="cno" value="" class="form-control">
                                        <input type="text" placeholder="Enter Address" value="" id="address" class="form-control">
                                        <input type="text" placeholder="Enter City" value="" id="city" class="form-control">
                                        <input type="text" placeholder="Enter State" value="" id="state" class="form-control">
                                        <input type="text" placeholder="Enter Country" value="" id="contry" class="form-control">
                                        <input type="text" placeholder="Enter pin" value="" id="pin" class="form-control">
                                        <input type="hidden" id="ps1" value="61cc0e405f4b518d264c089ac8b642ef">
                                        <input type="hidden" id="id" value="64">
                                        <input type="password" placeholder="Password" id="password" class="form-control">
                                        <button type="submit" onclick="user_profile();" class="fd_btn">Update Profile</button>
                                    </div>
                                </div>
                            </div>
                            <div id="order_history" class="tab-pane">
                                <div class="fd_order_status fd_signin">
                                    <table class="table table-hover table-condensed">
                                        <tr>
                                            <th>Order</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </tr>
                                        <tr><td colspan='5'>Order Not Found</td></tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>


                    <a href="javascript:void(0)">
                        <span class="user_icon">
                            R
                        </span>
                        <i title="Signout" id="signOutBtn" class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>





                }


            </div>
        </div>
    </div>
    <!--banner start-->
    <div class="fd_sucess_wrapper fd_padder_top100 fd_padder_bottom100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <div class="fd_sucess_detail text-center">
                        <img src="https://lh3.googleusercontent.com/PNbgu5ZGtNyKj0c1fUTCuZH3lMeb0UsaDgjPft0tS5lKbBoh5zfyzm_FnqfImFbsWQ=w150" alt="" class="img-fluid">

                        <h1>your product order successfull!!!</h1>
                        <h4>
                            your order number is <b>@ViewBag.Order.OrderNumber</b>!!!
                        </h4>
                        <p></p><a asp-controller="Home" asp-action="Public" class="fd_btn">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--checkout end-->	<!--footer start-->
    <div class="fd_footer_wrapper fd_padder_top70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="fd_footer_content text-center">
                        <div class="fd_logo fd_padder_bottom20">
                            <a href="javascript:;"><img src="http://hostingsites.co.in/developer33/caferia/assets/front/images/front_imges/19e9bd06bd8a588a4945cee88bbedcc6.png" alt="" class="img-fluid"></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labori.</p>

                        <div class="fd_menu fd_padder_bottom60">
                            <ul>
                                <li><a href="http://hostingsites.co.in/developer33/caferia/front/terms">Terms & Conditions</a></li>
                                <li><a href="http://hostingsites.co.in/developer33/caferia/front/policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer end-->
    <!--copyright start-->
    <div class="fd_copyright_wrapper text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <ul class="fd_social_icon fd_transition">
                        <li><a href="" class="fd_transition"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="" class="fd_transition"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="" class="fd_transition"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    </ul>

                    <!--p>Copyright &copy; 2018 <a href="#">Foodies 2</a> . All Right Reserved.</p-->
                    <p> </p>

                </div>
            </div>
        </div>
    </div>
    <!--copyright end-->
    <!-- reset password start-->
    <div class="modal fd_modal" id="resetp">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title fd_subheading">Reset Password</h4>
                    <button type="button" class="close" data-dismiss="modal"><span class="fd_close"></span></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="fd_user_inner fd_signin">
                        <form id="resetform" action="">

                            <div class="form-group">
                                <input type="password" id="rpassword" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" id="rcpassword" placeholder="Confirm Password" class="form-control">
                            </div>
                            <input type="hidden" id="acctoken" value="">
                            <input type="hidden" id="user_id" value="">

                            <button type="submit" class="fd_btn">Reset</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- reset password end-->
    <!-- apply coupon start-->
    <div class="modal fd_modal" id="apply_coupon">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title fd_subheading">Apply Coupon</h4>
                    <button type="button" class="close" data-dismiss="modal"><span class="fd_close"></span></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="fd_user_inner fd_signin">
                        <form id="Apply_coupon_code" action="">

                            <div class="form-group">
                                <input type="text" id="coupon_code" name="coupon_code" placeholder="Coupon Code" class="form-control">
                            </div>
                            <input type="hidden" id="citem_ids" name="citem_id" value="">
                            <button type="submit" class="fd_btn" id="apply_btn">Apply</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- apply coupon end-->
    <!-- preorder popup start-->
    <div class="modal fd_modal" id="pre_order_popup">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title fd_subheading">Pre Order</h4>
                    <button type="button" class="close" data-dismiss="modal"><span class="fd_close"></span></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="fd_user_inner fd_signin">
                        <form id="pre_order_form" action="">
                            <p>At This Movement Cafe Is Closed Please Do Pre Order Now</p>
                            <p>Please Select Your Delivery Date And Time</p>
                            <div class="form-group">
                                <input type="text" id="pre_order_date" name="pre_order_date" placeholder="Date" class="form-control fd_date">
                            </div>
                            <div class="form-group">
                                <input type="text" id="pre_order_time" name="pre_order_time" placeholder="Time" class="form-control fd_time">
                            </div>

                            <button type="submit" class="fd_btn" id="pre_order_btn">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- preorder popup end-->
    <!-- item option popup start-->
    <div class="modal fd_modal" id="item_option_modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title fd_subheading">Choose Item Size</h4>
                    <button type="button" class="close" data-dismiss="modal"><span class="fd_close"></span></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="fd_user_inner fd_signin">
                        <form id="item_option_form" action="">
                            <p>Please Select item Size</p>
                            <div class="form-group" id="item_optlist">

                            </div>
                            <!--<button type="submit" class="fd_btn" id="addToCartBtn" >Submit</button>-->
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- item option  popup end-->
    <!-- custom js link -->

    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/jquery.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/jquery.easing.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/moment.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/plugin/swiper/js/swiper.min.js"></script>

    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/isotope.pkgd.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/imagesloaded.pkgd.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/bootstrap.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/plugin/datepicker/bootstrap-datepicker.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/plugin/timepicker/bootstrap-timepicker.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/plugin/scroll/jquery.mCustomScrollbar.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/toastr.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/assets/front/js/custom.js"></script>




</body>
</html>
